@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #6366f1; // Morado por defecto
  --secondary-color: #4f46e5;
  --primary-hover: #4338ca;
}

/* Sobreescribimos las clases de utilidad para que sigan las variables */
.bg-indigo-600 { background-color: var(--primary-color) !important; }
.hover\:bg-indigo-700:hover { background-color: var(--primary-hover) !important; }
.text-indigo-600 { color: var(--primary-color) !important; }
.border-indigo-600 { border-color: var(--primary-color) !important; }
.bg-indigo-50 { background-color: color-mix(in srgb, var(--primary-color), white 90%) !important; }